---
import Layout from '../layouts/Layout.astro';
import AvisoLegalComp from '../components/AvisoLegal.astro';
---

<Layout title="Aviso legal">
	<main class="px-4">
        <AvisoLegalComp />
	</main>
</Layout>

<style>
	p {
		color: #f0f0f0;
	}
</style>
