---
import Layout from '../layouts/Layout.astro';
import PoliticaPrivacidad from '../components/PoliticaCookies.astro';
---

<Layout title="Política de cookies">
	<main class="px-4">
        <PoliticaPrivacidad />
	</main>
</Layout>

<style>
	p {
		color: #f0f0f0;
	}
</style>