---
import Layout from '../layouts/Layout.astro';
import PoliticaPrivacidadComponent from '../components/PoliticaPrivacidad.astro';
---

<Layout title="Política de Privacidad - Chabely Escalona Ramón">
	<main class="px-4">
        <PoliticaPrivacidadComponent />
	</main>
</Layout>