---
import Layout from '../layouts/Layout.astro';
import PoliticaCookies from '../components/PoliticaCookies.astro';
---

<Layout title="Política de privacidad">
	<main class="px-4">
        <PoliticaCookies />
	</main>
</Layout>

<style>
	p {
		color: #f0f0f0;
	}
</style>