<form class="mb-6">
    <div class="mb-6">
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tu email" required />
    </div>
    <div class="mb-6">
        <input type="text" id="subject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="En que puedo ayudarte" required />
    </div>
    <div class="mb-6">
        <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tu mensaje ..."></textarea>
    </div>
    <button type="submit" class="bg-pink-100 text-pink-800 font-medium me-2 dark:bg-pink-900 dark:text-pink-300 hover:bg-pink-800 hover:text-white focus:ring-4 rounded-lg text-sm px-5 py-2.5 mb-2 ">Enviar mensaje   </button>

</form>
 
<style>
    .rounded-lg {
        border-radius: 1.5rem !important;
    }
</style>