<footer class="bg-transparent rounded-lg shadow m-4 dark:bg-gray-800 flex justify-between items-center py-5 px-4 w-full xl:w-[1120px] mx-auto flex-wrap">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="flex flex-row my-3 lg:my-0 gap-x-10 opacity-80 text-xs lg:text-base text-pink-300">
            © 2024
        </span>
    </div>
</footer>
