
<header class="flex flex-wrap justify-between items-center py-0 lg:py-5 px-4 w-full xl:w-[1120px] mx-auto">

    <img class="rounded-full w-12 h-12 my-5 lg:my-0" src="/images/chabely-escalona.jpeg" alt="chabely foto">

    <nav class="flex flex-row flex-wrap gap-x-6 lg:gap-x-10 opacity-80 text-xs lg:text-base">
        <a class="hover:underline" href="/">Home</a>
        <a class="hover:underline"  href="/#about">Sobre mí</a>
        <a class="hover:underline"  href="/#experience">Experiencia</a>
        <a class="hover:underline"  href="/#projects">Proyectos</a>
        <a class="hover:underline"  href="/#contact">Contacto</a>
    </nav>

</header>
