
<header class="flex justify-between items-center py-5 px-4 w-full xl:w-[1120px] mx-auto flex-wrap">

    <img class="rounded-full w-12 h-12" src="/images/chabely-escalona.jpeg" alt="chabely foto">

    <nav class="flex flex-row gap-x-10 opacity-80 text-xs lg:text-base">
        <a class="hover:underline" href="/">Home</a>
        <a class="hover:underline"  href="/#about">Sobre mí</a>
        <a class="hover:underline"  href="/#experience">Experiencia</a>
        <a class="hover:underline"  href="/#projects">Proyectos</a>
        <a class="hover:underline"  href="/#contact">Contacto</a>
    </nav>

</header>
