<section class="w-full mx-auto lg:w-[740px] py-20 pb-24" id="privacy">
    <h2 class="flex items-center text-pink-300 text-4xl font-semibold mb-6 gap-x-3">
        Política de privacidad
    </h2>

    <p class="mb-4 text-white">
        En Chabely Design, nos comprometemos a proteger y respetar tu privacidad. Esta Política de Privacidad explica cómo recopilamos, usamos, y protegemos tu información personal cuando utilizas nuestro sitio web.
    </p>

    <h3 class="text-xl font-semibold mb-3">1. Información que recopilamos</h3>
    <p class="mb-4 text-white">
        Recopilamos y procesamos diferentes tipos de información personal dependiendo de cómo interactúas con nuestro sitio:
    </p>
    <ul class="list-disc pl-6 mb-4 text-white">
        <li><strong>Información de contacto:</strong> Incluye nombre, dirección de correo electrónico, y número de teléfono, que puedes proporcionar al completar formularios en nuestro sitio.</li>
        <li><strong>Información técnica:</strong> Incluye dirección IP, tipo de navegador, y datos sobre la navegación, obtenidos a través de cookies y tecnologías similares.</li>
        <li><strong>Información de uso:</strong> Incluye detalles sobre cómo utilizas nuestro sitio web, como las páginas que visitas y el tiempo que pasas en ellas.</li>
    </ul>

    <h3 class="text-xl font-semibold mb-3">2. Uso de la información</h3>
    <p class="mb-4 text-white">
        Utilizamos tu información personal para los siguientes propósitos:
    </p>
    <ul class="list-disc pl-6 mb-4 text-white">
        <li>Proporcionar y gestionar nuestros servicios.</li>
        <li>Responder a tus consultas y proporcionar soporte al cliente.</li>
        <li>Mejorar nuestro sitio web y personalizar tu experiencia de usuario.</li>
        <li>Enviar comunicaciones promocionales si has dado tu consentimiento para ello.</li>
    </ul>

    <h3 class="text-xl font-semibold mb-3">3. Compartir tu información</h3>
    <p class="mb-4 text-white">
        No compartimos tu información personal con terceros, excepto en las siguientes circunstancias:
    </p>
    <ul class="list-disc pl-6 mb-4 text-white">
        <li>Cuando sea necesario para prestar nuestros servicios.</li>
        <li>Cuando tengamos tu consentimiento explícito.</li>
        <li>Cuando estemos obligados a hacerlo por ley o en respuesta a un proceso legal.</li>
    </ul>

    <h3 class="text-xl font-semibold mb-3">4. Seguridad de la información</h3>
    <p class="mb-4 text-white">
        Nos tomamos en serio la seguridad de tu información personal y hemos implementado medidas técnicas y organizativas adecuadas para protegerla contra accesos no autorizados, alteraciones, divulgación o destrucción.
    </p>

    <h3 class="text-xl font-semibold mb-3">5. Tus derechos</h3>
    <p class="mb-4 text-white">
        Tienes derecho a acceder, rectificar, o eliminar la información personal que hemos recopilado sobre ti. También tienes derecho a oponerte al procesamiento de tu información personal o solicitar que restrinjamos su uso.
    </p>
    <p class="mb-4 text-white">
        Si deseas ejercer alguno de estos derechos, por favor contáctanos a través de la información proporcionada a continuación.
    </p>

    <h3 class="text-xl font-semibold mb-3">6. Cambios en nuestra Política de Privacidad</h3>
    <p class="mb-4 text-white">
        Podemos actualizar esta Política de Privacidad de vez en cuando para reflejar cambios en nuestras prácticas o en la ley aplicable. Te recomendamos revisar esta página periódicamente para estar al tanto de cualquier cambio.
    </p>

    <h3 class="text-xl font-semibold mb-3">7. Contacto</h3>
    <p class="mb-4 text-white">
        Si tienes alguna pregunta sobre esta Política de Privacidad o sobre cómo gestionamos tu información personal, puedes contactarnos en:
    </p>
    <p class="mb-4 text-white">
        <strong>Correo electrónico:</strong> info@chabelydesign.com <br />
        <strong>Teléfono:</strong> +34 123 456 789
    </p>
</section>