<section class="w-full mx-auto lg:w-[740px] py-20 pb-24" id="privacy">
    <h2 class="flex items-center text-pink-300 text-4xl font-semibold mb-6 gap-x-3">
        Política de privacidad
    </h2>

    <p class="mb-4 text-white">
        En Chabely Designer, nos comprometemos a proteger y respetar tu privacidad. Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos tu información personal cuando utilizas nuestro sitio web.
    </p>

    <h3 class="text-xl font-semibold mb-3">1. Información que recopilamos</h3>
    <p class="mb-4 text-white">
        Cuando los visitantes completan el formulario de contacto en nuestro sitio web, recopilamos la siguiente información personal:
    </p>
    <ul class="list-disc pl-6 mb-4 text-white">
        <li><strong>Nombre:</strong> Proporcionado al completar el formulario de contacto.</li>
        <li><strong>Dirección de correo electrónico:</strong> Proporcionada al completar el formulario de contacto.</li>
        <li><strong>Mensaje o consulta:</strong> El contenido del mensaje que envías a través del formulario.</li>
    </ul>

    <h3 class="text-xl font-semibold mb-3">2. Cómo utilizamos la información</h3>
    <p class="mb-4 text-white">
        La información que recopilamos a través del formulario de contacto se utiliza únicamente para los siguientes propósitos:
    </p>
    <ul class="list-disc pl-6 mb-4 text-white">
        <li>Responder a las consultas y mensajes enviados por los visitantes.</li>
        <li>Proporcionar la información o asistencia solicitada.</li>
        <li>Mejorar nuestros servicios y la experiencia del usuario en el sitio web.</li>
    </ul>

    <h3 class="text-xl font-semibold mb-3">3. Protección de su información</h3>
    <p class="mb-4 text-white">
        Nos comprometemos a proteger la información personal de nuestros visitantes. No compartimos, vendemos ni alquilamos su información personal a terceros, a menos que sea necesario para cumplir con la ley o proteger nuestros derechos.
    </p>

    <h3 class="text-xl font-semibold mb-3">4. Derechos del usuario</h3>
    <p class="mb-4 text-white">
        Usted tiene derecho a:
    </p>
    <ul class="list-disc pl-6 mb-4 text-white">
        <li>Acceder a la información personal que tenemos sobre usted.</li>
        <li>Solicitar la corrección de cualquier información inexacta.</li>
        <li>Solicitar la eliminación de su información personal en cualquier momento.</li>
    </ul>
    <p class="mb-4 text-white">
        Para ejercer estos derechos, puede ponerse en contacto con nosotros a través de la información proporcionada a continuación.
    </p>

    <h3 class="text-xl font-semibold mb-3">5. Cambios en esta política</h3>
    <p class="mb-4 text-white">
        Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página, y le recomendamos que revise esta política periódicamente para estar al tanto de cualquier cambio.
    </p>

    <h3 class="text-xl font-semibold mb-3">6. Contacto</h3>
    <p class="mb-4 text-white">
        Si tiene alguna pregunta sobre esta política de privacidad, puede ponerse en contacto con nosotros en:
    </p>
    <p class="mb-4 text-white">
        <strong>Correo electrónico:</strong> chabelyescalona@gmail.com
    </p>
</section>
